@using Microsoft.AspNetCore.Identity;
@using Blog.Data.Models.Db;
@inject UserManager<User> UserManager;
@model Blog.ViewModels.PostViewModel
@{
    ViewBag.Title = "PostEdit";
    Layout = "/Views/Shared/_Layout.cshtml";
    var user = await UserManager.GetUserAsync(User);
    Model.UserId = user.Id;
}

<h4 class="mb-3">Редактирование статьи</h4>
<hr class="my-4" />

<form asp-controller="Posts" asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    @for (int i = 0; i < Model.Tags.Count; i++)
    {
        <div class="form-check">
            @Html.CheckBoxFor(model => model.Tags[i].IsChecked, new { @class="form-check-input", @value="", @id="flexCheckDefault", } )
            @* <input type="checkbox" class="form-check-input" value="" id="flexCheckDefault" /> *@
            <label class="form-check-label" for="flexCheckDefault">@Model.Tags[i].Name</label>
            @Html.HiddenFor(model => model.Tags[i].Name)
        </div>
    }
    <div class="row g-3">
        <div class="col-12">
            <label class="form-label">Заголовок</label>
            <input asp-for="Title" type="text" class="form-control" placeholder required />
            <span asp-validation-for="Title" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите название"
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Описание</label>
            <textarea class="form-control" asp-for="Description" placeholder required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
            <div class="invalid-feedback">
                " Добавьте описание статьи"
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Текст</label>
            <textarea class="form-control" asp-for="Text" placeholder required></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
            <div class="invalid-feedback">
                " Добавьте текст статьи"
            </div>
        </div>
    </div>
    <hr class="my-4" />
    <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
    <div class="container">
        <a asp-area="" asp-controller="Posts" asp-action="Posts">Вернуться к списку всех статей</a>
    </div>
</form>
