@using Microsoft.AspNetCore.Identity;
@using Blog.Data.Models.Db;
@inject UserManager<User> UserManager;
@model IEnumerable<Role>
@{
    ViewBag.Title = "Roles";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<br />
<h4 class="mb-3">Все роли</h4>
<div class="container">
    <a asp-area="" asp-controller="Roles" asp-action="NewRole">Добавить роль</a>
</div>
<hr class="my-4" />
<form asp-controller="Roles" asp-action="Roles">
    <div asp-validation-summary="ModelOnly"></div>
    @if (Model.Count() != 0)
    {
        @foreach (var role in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        @role.Name
                    </h5>
                    <p class="card-text">@role.Description</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                @if (User.IsInRole("Модератор") || User.IsInRole("Администратор"))
                                {
                                    <a class="btn btn-outline-primary" asp-controller="Roles" asp-action="Edit" asp-route-id="@role.Id">Редактировать</a>
                                    <a class="btn btn-outline-danger" asp-controller="Roles" asp-action="Delete" asp-route-id="@role.Id">Удалить</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    
</form>

