@model Blog.ViewModels.RoleViewModel
@{
    ViewBag.Title = "RoleEdit";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<br />
<h4 class="mb-3">Редактирование роли</h4>
<hr class="my-4" />
<form asp-controller="Roles" asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" type="hidden" />
    <div class="row g-3">
        <div class="col-12">
            <label for="tag" class="form-label">Название</label>
            <input asp-for="@Model.Name" type="text" class="form-control" placeholder="@Model.Name" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите название"
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Описание</label>
            <textarea class="form-control" asp-for="Description" placeholder="@Model.Description" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
            <div class="invalid-feedback">
                " Добавьте описание"
            </div>
        </div>
    </div>
    <hr class="my-4" />
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <br />
    <div class="container">
        <a asp-area="" asp-controller="Roles" asp-action="Roles">Перейти к списку всех ролей</a>
    </div>
</form>