@model Blog.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Registeration";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h4 class="mb-3">Регистрация пользователя</h4>
<form class="needs-validation" novalidate asp-controller="Register" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row g-3">
        <div class="col-12">
            <label for="firstname" class="form-label">Имя</label>
            <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder required />
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите имя"
            </div>
        </div>
        <div class="col-12">
            <label for="lastname" class="form-label">Фамилия</label>
            <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder required />
            <span asp-validation-for="LastName" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите фамилию"
            </div>
        </div>
        <div class="col-12">
            <label for="username" class="form-label">Логин</label>
            <input asp-for="UserName" type="text" class="form-control" id="userName" placeholder required />
            <span asp-validation-for="UserName" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите логин"
            </div>
        </div>
        <div class="col-12">
            <label for="email" class="form-label">Почтовый адрес</label>
            <input asp-for="EmailReg" type="email" class="form-control" id="email" placeholder="you@example.com" />
            <span asp-validation-for="EmailReg" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите коректный адрес электронной почты"
            </div>
        </div>
        <div class="col-12">
            <label for="password" class="form-label">Пароль</label>
            <input asp-for="PasswordReg" type="password" class="form-control" id="password" placeholder="**********" />
            <span asp-validation-for="PasswordReg" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите коректный пароль"
            </div>
        </div>
        <div class="col-12">
            <label for="password" class="form-label">Повторите пароль</label>
            <input asp-for="PasswordConfirm" type="password" class="form-control" id="password" placeholder="**********" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            <div class="invalid-feedback">
                " Пароли не совпадают"
            </div>
        </div>
        <div class="col-12">
            <label for="image" class="form-label">Фото</label>
            <input asp-for="ImageUrl" type="url" class="form-control" id="url" placeholder="" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
            <div class="invalid-feedback">
                " Не задано изображение"
            </div>
        </div>
    </div>
    <hr class="my-4" />
    <button class="w-100 btn btn-primary btn-lg" type="submit">Зарегистрироваться</button>
</form>
