<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.Seq" />
	</extensions>

	<targets>
		<target name ="run_log" xsi:type="File" fileName="${basedir}\logs\${shortdate}.log"
				layout="${longdate}|${level}|${message}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Trace" writeTo="run_log, console, seq" />
	</rules>
</nlog>