﻿@{
    ViewBag.Title = "Forbidden";
}
<h2>Ошибка 403. Доступ запрещен</h2>
<p>Доступ к этой странице запрещен администратором сайта.</p>
<p>Перейдите на: @Html.ActionLink("Главную страницу", "Index", "Home")</p>