﻿@{
    ViewBag.Title = "Something went wrong";
}
<h2>Ошибка 500. Что-то пошло не так</h2>
<p>На сервере произошла непредвиденная ошибка.</p>
<p>Перейдите на: @Html.ActionLink("Главную страницу", "Index", "Home")</p>