@model Blog.ViewModels.TagViewModel
@{
    ViewBag.Title = "Signin";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h4 class="mb-3">Добавление тега</h4>
<form asp-controller="Tags" asp-action="NewTag">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row g-3">
        <div class="col-12">
            <label for="email" class="form-label">Название</label>
            <input asp-for="Name" type="text" class="form-control" placeholder required />
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите название"
            </div>
        </div>
    </div>
    <hr class="my-4" />
    <button class="w-100 btn btn-primary btn-lg" type="submit">Добавить</button>
    <div class="container">
        <a asp-area="" asp-controller="Tags" asp-action="Tags">Перейти к списку всех тегов</a>
    </div>
</form>
